html {
  font-family: myFirstFont, sans-serif;
}

body {
  overflow-x: hidden;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.back_image {
  background: url(images/apple.jpg) 50% 100% no-repeat;
  width: 100%;
  height: 538px;
}

nav {
  display: block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.296875) 0 6px 5px;
  border-radius: 5px;
  margin-top: 83px;
  height: 36px;
  z-index: 2;
  background: linear-gradient(rgb(114, 114, 114), rgb(148, 147, 147) 50%, rgb(88, 88, 88) 45%);
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-radius: 5px;
  margin-left: 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  height: 36px;
  padding-left: 0;
}

.nav_links {
  display: flex;
  flex: 1;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: auto;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border-width: 0 0.1rem;
  border-style: outset;
  border-color: dimgray;
  cursor: pointer;
  height: 36px;
}

.nav_bar li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0 0.01rem;
  border-color: dimgray;
  border-style: outset;
  flex: 1;
  text-align: center;
  margin: auto;
  border-left: 1px;
}

.nav_bar:first-child {
  border-left: none;
  font-size: medium;
}

.nav_bar:last-child {
  border-right: none;
}

.nav_bar:last-child:hover {
  background: linear-gradient(rgb(114, 114, 114), rgb(148, 147, 147) 50%, rgb(88, 88, 88) 45%);
}

.sprite_container a {
  margin: 10px;
}

.nav_bar a:hover {
  background: linear-gradient(rgb(63, 63, 63), rgb(148, 147, 147) 50%, rgb(51, 51, 51) 45%);
}

.fab {
  font-size: 28px;
  margin-left: 10px;
  color: white;
}

.fa-search {
  position: absolute;
  top: 1px;
  left: 22px;
  font-size: 1.2rem;
  color: white;
}

#input {
  border-radius: 30px;
  border: 1px solid gray;
  outline: none;
  width: 132px;
  padding-left: 10px;
  border-style: inset;
  margin-right: 13px;
  margin-left: 18px;
}

input[type=text] {
  background: transparent;
  box-shadow: 0 -2px rgb(19, 18, 18);
}

.search_bar {
  position: relative;
  margin-left: -18px;
}

.input_search {
  position: absolute;
  top: 3px;
  right: 90px;
  font-size: 1.2rem;
  padding-left: 21px;
}

.sprite_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.what_will {
  background: url('images/apple7.png') no-repeat -58px -25px;
  width: 851px;
  height: 88px;
  display: block;
}

.everyone {
  background: url('images/apple6.png') no-repeat -102px -6px;
  width: 776px;
  height: 73px;
  margin-bottom: 10px;
}

.your_verse {
  background: url('images/apple8.png') no-repeat -219px -2px;
  width: 540px;
  height: 29px;
  margin-top: 10px;
}

.image_below {
  display: flex;
  flex-grow: 1;
  height: 200px;
  width: 100%;
  margin-top: 5px;
}

.image_below img {
  width: 100%;
}

.flag {
  height: 16px;
  width: 16px;
  border: none;
  margin-bottom: -4px;
}

footer {
  color: #6e6e6e;
  line-height: 1.3;
  font-size: 0.7334em;
  font-weight: 300;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  width: 100%;
  position: absolute;
  padding: 20px;
}

.foot_links {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

.left_foot {
  float: left;
  margin-left: 47px;
}

.right_foot {
  float: right;
  justify-content: space-evenly;
  margin-right: 99px;
  margin-top: -3px;
}

.copyright_foot {
  float: left;
  text-align: left;
  margin-left: 47px;
  margin-top: 10px;
}

.clear {
  clear: both;
}
